@model IEnumerable<COMP2139_Assignment1.Models.Product>


@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>$@product.Price</td>
                <td>@product.Quantity</td>
                <td>@product.Category?.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No products available</p>
}